.RepairModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.RepairModalContent {
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 250px;
}
.RepairModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}


.popUp {
  background: rgba(102, 102, 102, 0.59);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  display: none;
}
.popUp__window {
  width: 50%;
  max-height: 80%;
  padding: 30px 40px;
  box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #000;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 55px auto auto auto;
  z-index: 51;
  overflow: auto;
}
.popUp__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.popUp__body {
  display: flex;
  margin-bottom: 20px;
}
.popUp__malfunction {
  margin-bottom: 15px;
}
.popUp__notes {
  margin-bottom: 15px;
}
.header-popUp__worranty {
  color: #FF0202;
  font-weight: 600;
}
.header-popUp__date {
  font-weight: 500;
}
.header-popUp__number {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
}
.header-popUp__shop {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
}

.body-popUp {
  gap: 70px;
}
.properties {
  font-weight: 500;
  font-size: 12px;
}
.properties__status {
  background-color: #bdbbbb;
}
.properties__timeOfFinishing {
  background-color: #bdbbbb;
}
.properties__password {
  background-color: #bdbbbb;
}
.properties__manager {
  background-color: #bdbbbb;
}
.manager-properties {
  display: flex;
  gap: 40px;
}
.manager-properties__name {
  font-weight: 400;
}

.client-properties {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.client-properties__name {
  font-weight: 400;
}

.values {
  font-weight: 400;
  font-size: 12px;
}
.values__status {
  background-color: #bdbbbb;
}
.values__timeOfFinishing {
  background-color: #bdbbbb;
}
.values__password {
  background-color: #bdbbbb;
}
.values__master {
  background-color: #bdbbbb;
}
.timeOfReceiving {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.timeOfFinishing {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.master-value {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.master-value__title {
  font-weight: 500;
}
.telnumber-value {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.telnumber-value__title {
  font-weight: 500;
}
.malfunction-popUp__title {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 12px;
}
.malfunction-popUp__text {
  padding: 5px;
  font-size: 12px;
  background: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.notes-popUp__title {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 12px;
}
.notes-popUp__text {
  padding: 5px;
  font-size: 12px;
  background: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.action-popUp {
  margin: 0 auto;
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 80%;
  align-self: center;
}
.action-popUp__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  color: #fff;
  background: #435AAB;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  border: 1px solid #5198DA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  transition: transform 0.3s ease 0s;
}
.action-popUp__close:hover {
  transform: scale(0.95);
}
.action-popUp__history {
  font-size: 14px;
  font-weight: 600;
  width: 120px;
  padding: 8px 16px;
  border: 2px solid #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  transition: transform 0.3s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../img/main/history.svg") 0 2px no-repeat;
}
.action-popUp__history:hover {
  transform: scale(0.95);
}
.action-popUp__answer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  width: 120px;
  padding: 8px 5px 8px 25px;
  border: 2px solid #0188CC;
  color: #0188CC;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
  transition: transform 0.3s ease 0s;
  background: url("../../../img/main/telegram.svg") 0 0 no-repeat;
  position: relative;
}
.action-popUp__answer:hover {
  transform: scale(0.95);
}